@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


main{
  max-width: 23em;
}
section {
  border: 3px solid rgb(92, 164, 215);
  max-width: 23em;
  display: inline-block;
}

img {
  width: 20em;
  height: auto;
  margin: 1em;
}

nav {
  margin-bottom: auto;
}

aside {
  display: inline-block;
  float: left;
  width: 4.1em;
  height: 2em;
  text-align: center;
  border: 3px solid rgb(92, 164, 215);
  color: rgb(92, 164, 215);

}

p {
  width : 50%;
  float: left;
  color: rgb(92, 164, 215);
}

.fa-refresh {

}
.fa-stop {

}

.price {
  text-align: right;
  font-weight: bold;
}
