@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main{
  max-width: 23em;
  float: left;
  margin-left: 2em;
  margin-top: 2em;
  box-sizing: border-box;
}

section {
  border: 3px solid rgb(92, 164, 215);
  position: relative;

}

img {
  width: 21em;
  height: auto;
  margin: .8em;
}

ul {
  padding-left: 0;
  margin: 0;
  border-top: 3px solid rgb(92, 164, 215);
  list-style-type: none;
}

.nav > li {
  padding-top: 0.9em;
  width: 20%;
  height: 2.8em;
  text-align: center;
  color: rgb(92, 164, 215);
  float: left;
  box-sizing: border-box;

}
.cd-item {
  width: 2em;
  display: inline-block;
  float: left;
  padding: .1em;
}

.size-dropdown {
  position: absolute;
  height: 130px;
  width: inherit;
  top: 55%;
  left:40%;
  bottom: 100%;
  border: 1px solid rgb(92,164,215);
  color: rgb(92, 164, 215);
  background-color: rgb(255,255,255);
  text-align: center;
  opacity: 0;
  transition: all .5s linear;
}

.color-dropdown {
  position: absolute;
  height: 60px;
  width: inherit;
  top: 71%;
  left:60%;
  bottom: 100%;
  border: 1px solid rgb(92,164,215);
  background-color: rgb(255,255,255);
  opacity: 0;
  text-align: center;
  padding-top: 0.5em;
  transition: all .5s linear;
}
.size:hover .size-dropdown {
  opacity: 1;
}
.color:hover .color-dropdown{
  opacity: 1;
}
.xl {
  font-size: 1.5em;
  margin-top: .3em;
}
.l {
  font-size: 1.3em;
  margin-top: .4em;
}
.m {
  font-size: 1em;
  margin-top: .5em;
}
.s {
  font-size: .75em;
  margin-top: .6em;
}
.blue {
  background-color: rgb(60, 104, 235);
  height:5px;
  width: .5em;
  padding-left: 1em;
  margin-left: .5em;
  padding-bottom: 1em;
}
.pink {
  background-color: rgb(233, 2, 245);
  height:5px;
  width: .5em;
  padding-left: 1em;
  margin-left: .5em;
  padding-bottom: 1em;

}
.tan {
  background-color: rgb(216, 176, 125);
  height:5px;
  width: .5em;
  padding-left: 1em;
  padding-bottom: 1em;
  margin-left: .5em;
  margin-top: .5em;
}
.green {
  background-color: rgb(18, 142, 67);
  height:5px;
  width: .5em;
  padding-left: 1em;
  padding-bottom: 1em;
  margin-left: .5em;
  margin-top: .5em;
}


li:hover {
  background-color: rgb(92, 164, 215);
  color: rgb(255, 255, 255);
}

section::after {
  content: '';
  display: block;
  clear: both;
}


.fa-repeat:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 164, 215);
}


.fa-repeat {
  float:right;
  padding: .2em .4em;
  color: rgb(92, 164, 215);
  border-bottom: 3px solid rgb(92, 164, 215);
  border-left: 3px solid rgb(92, 164, 215);
}

.fa-heart-o {
  border-left: 3px solid rgb(92,164,215);

}

.size {
  border-left: 3px solid rgb(92,164,215);
}

.color {
  border-left: 3px solid rgb(92,164,215);
}

.fa-shopping-cart {
  border-left: 3px solid rgb(92,164,215);
}



p {
  width : 47%;
  float: left;
  color: rgb(92, 164, 215);

}

.price {
  text-align: right;
  font-weight: bold;
  padding-right: 0.5em;
}

.name {
  padding-left: 0.5em;
}
